/* globals.css */
@import "tailwindcss";

/* кастомні стилі, якщо треба */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
