/* Під Tailwind v4 */
@import "tailwindcss";

/* Базові стилі для Telegram WebApp */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

/* Приховуємо скролбар */
* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
